<html>
<head>
	<link rel="stylesheet" href="style.css" type="text/css">
</head>

<div class="container">
<img src="<?=base_url('assets/img/logo/kpu.jpg');?>" class="left">
<h5 align="center"><b>SURAT UNDANGAN<br/>PEMUNGUTAN SUARA</b></h5>
	<h5 align="right"><b>MODEL C 6<br/>DPR/DPD/DPRD</h5></b>

<p>Bersana ini diberitahukan bahwa Komisi Pemilihan Umum mengundang Saudara ........... No urut DPT/DPTb/DPK *) : ........., NIK/Identitas lain ............... untuk memberikan suara pada Pemilihan Umum .................................... yang akan dilaksanakan pada : <br/></p>

<p align="center">Hari/Tanggal : .....................<br/>
Pukul : ................. <br/> Tempat Pemungutan Suara(TPS) : ......... Kelurahan/ Desa/.............. <br/> Alamat : ...............</p>

<p>Cara memilih anggota DPR/DPRD<br/>
- Coblos pada nomor atau tanda gambar partai politik dan atau nama calon<br/>Cara memmilih anggota DPD<br/>
- Coblos pada foto atau nama calon DPD</p>

<p>.................,........... .............<br/>
KELOMPOK PENYELENGGARA PEMUNGUTAN SUARA KETUA<br>   
(................)</p>

<p>Catatan : <br/>
	1. Untuk pelaksanaan Pemilu di wilayah Provinsi ......... dimulai pada pukul ..... s/d ......<br/>
	2. Pemilu penyandang cacat diberi kemudahan dalam memberikan suara</p>
<p align="center">gunting di sini</p>
------------------------------------------------------------------------
<p style="center">Yang menyerahkan<br/>(.................)<br/>Nama Jelas</p>
<p style="center">Yang menerima<br/>(.................)<br/>Nama Jelas</p>
<p>Diterima Tgl ... ............. ...... </p>
</div>
</html>